%section.articles
  %h2.hidden 記事
  %ul.article-box
    -# データーベース実装する
    - @article.each do |article|
      = link_to "articles/#{ article.id }/#{ article.controller_name }" do
        %li.article.clearfix
          %p.article-icon
            アイコン
            -# ToDo = link_to userへのリンク
          .article-discription 
            %h3.article-title
              #{ article.title }
            .article-discription__data
              %p.article-user 投稿者: 投稿者の名前
              %time.article-date 投稿日
              %p.article-answer 解答者: エンジニアの名前
