-# Todo hurusatos-mainのcssを共有アセットにする
.hurusatos-main
  .reduced-consumption-main
    .title-wrapper
      %h1.title #{ @article.title }
      %p.description #{ @article.description }
    %form.reduced-consumption-form
      %buttton.button#start-button スタート
      .quiz-content#quiz-content
