%header.header
  %h1.logo
    = link_to "MoneyTech", root_path
  %nav.global-nav
    %ul
      %li.nav-item
        = link_to "HOME", root_path
      %li.nav-item
        = link_to "ABOUT", root_path
      %li.nav-item
        -# ここにお金に関する質問をする。
        = link_to "MONEY", root_path
